/*------------------------------------------------------------------
[Project Header]
Project Name: Samiul Ajom | Resume & Portfolio Template
Author: Samiul Ajom
Support: samiulajom2004@gmail.com
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]
1. Root and Base styles
2. Light mode styles
3. Common styles
   3.1 Body 
   3.2 Left and Right sections
   3.3 Button 
   3.4 Animation 
4. Navigation styles
5. Main Content (aside) styles
6. Banner styles
7. About styles
8. Resume styles
   8.1 Education 
   8.2 Skill 
   8.3 Feature 
   8.4 SVG Line animations 
   8.5 Counter 
   8.6 Testimonials 
   8.7 Resume download button
9. Service styles
10. Portfolio styles
11. Contact styles
12. Footer styles
13. External Styles
   13.1 Settings
   13.2 Theme
   13.3 Audio
   13.4 Social icons
   13.5 Cursor
   13.6 Page scroll animation
   13.7 Background line animation
   13.8 Page loader animation
   13.9 color panel 
------------------------------------------------------------------*/
/* 1. Root styles start ------------------------------------ */
:root {
  --bff: "Syne", sans-serif;
  --bc: #767676;
  --black: #000;
  --secondaryColor: #32cd32;
  --bodycolor: #000;
  --white: #ffff;
  --navcolor: #17181b;
  --bordercolor: #434445;
  --shadow: var(--secondaryColor) 0px 7px 29px 0px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html,
body {
  height: 100%;
  width: 100%;
}
/* 1. Root styles end ---------------------------------------- */
/* 2. Light mode styles start -------------------------------- */
.light {
  --white: #000;
  --black: #d3d3d3;
  --bodycolor: #17181b;
  --navcolor: #f2f5f8;
  --bordercolor: #c8ced3;
}
.light .contact-footer {
  background: var(--secondaryColor);
}
.light .sm-btn:before {
  background-color: var(--white);
}
.light .sm-btn a {
  color: var(--black);
}
.light .sm-btn a:hover {
  background: var(--black);
  color: var(--black);
}
.light .sm-bio-graphy .biography .text {
  border-color: var(--bordercolor);
  box-shadow: none;
}
.light .line-parent .line {
  border-color: #eaecee;
}
/* 2. Light mode styles end ---------------------------------- */
/* 3. Common styles start ------------------------------------ */
body {
  font-family: var(--bff);
  color: var(--bc);
  font-size: 16px;
  line-height: 1.8;
  background: var(--black);
  transition: background 0.3s linear;
  overflow-x: hidden;
}
.main {
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
  display: flex;
}
.left,
.right {
  width: 50%;
}
/* Title styles start --------------------------------------- */
.sm-title {
  text-transform: uppercase;
  color: var(--white);
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 5px;
  margin-bottom: 50px;
}
.sm-title span span,
.name span {
  color: var(--secondaryColor);
}
/* Title styles end ----------------------------------------- */
/* Button styles start -------------------------------------- */
.sm-btn {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-top: 50px;
  transition: all 0.3s linear;
  border-radius: 5px;
}
.sm-btn:before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: -5px;
  left: 0px;
  right: 0px;
  background-color: var(--black);
  transform: translateY(100%);
  pointer-events: none;
  transition: all 0.3s ease;
}
.sm-btn:hover {
  box-shadow: var(--shadow);
}
.sm-btn:hover:before {
  transform: translateY(0);
  border: 1px solid var(--secondaryColor);
  box-shadow: var(--shadow);
  border-radius: 5px;
}
.sm-btn span {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
.sm-btn span i {
  margin-right: 5px;
}
.sm-btn a {
  display: block;
  padding: 15px 35px;
  background: var(--secondaryColor);
  color: var(--white);
  text-decoration: none;
}
/* Button styles end --------------------------------------- */
/* Animation styles start ---------------------------------- */

/* Animation using variable */
@keyframes lightingAnimation {
  0% {
    box-shadow: rgba(var(--secondaryColor-rgb), 0.2) 0px 7px 29px 0px;
  }
  25% {
    box-shadow: rgba(var(--secondaryColor-rgb), 0.4) 0px 7px 29px 0px;
  }
  50% {
    box-shadow: rgba(var(--secondaryColor-rgb), 0.5) 0px 7px 29px 0px;
  }
  75% {
    box-shadow: rgba(var(--secondaryColor-rgb), 0.7) 0px 7px 29px 0px;
  }
  100% {
    box-shadow: rgba(var(--secondaryColor-rgb), 0.8) 0px 7px 29px 0px;
  }
}
/* Animation styles end ------------------------------------ */
/* 3. Common styles end -------------------------------------- */
/* 4. Navigation styles start ------------------------------ */
nav.desktop {
  width: 20%;
  height: 100%;
  background: var(--navcolor);
  position: fixed;
  left: 15px;
  top: 0;
  bottom: 0;
  right: 0;
  clip-path: polygon(
    55% 0%,
    65% 3%,
    100% 3%,
    100% 100%,
    0% 100%,
    0% 100%,
    0% 0%
  );
  border-radius: 0 25px 0 0;
  z-index: 9;
}
nav.desktop .nav-logo {
  margin: 2rem auto 1rem;
}
nav.desktop .nav-logo hr {
  width: 85%;
  margin: 0 auto;
  border: 1px dotted var(--bordercolor);
  border-radius: 5px;
}
nav.desktop .nav-logo div {
  width: 140px;
  height: 140px;
  overflow: hidden;
  padding: 20px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  /* border: 5px solid var(--bordercolor); */
  border: 5px solid var(--secondaryColor);
  border-radius: 50%;
  margin: 0 auto;
}
nav.desktop .nav-logo img {
  width: 100%;
}
nav.desktop .nav-logo h2,nav.desktop .nav-logo p {
  font-size: 18px;
  line-height: 28px;
  color: var(--white);
  text-align: center;
  text-transform: capitalize;
  margin: 1rem auto;
}
nav.desktop .nav-logo p{
  color: var(--bc);
}
nav.desktop ul li {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px solid var(--bordercolor);
  text-align: left;
  list-style: none;
}
nav ul li a {
  display: block;
  text-decoration: none;
  line-height: 45px;
  padding-left: 60px;
  position: relative;
  color: var(--bc);
  transition: all 0.3s linear;
  position: relative;
}
nav ul li a:hover {
  color: var(--white);
  /* font-weight: bold; */
}
nav ul li.active a {
  color: var(--secondaryColor);
  font-weight: bold;
}
nav ul li a span {
  position: absolute;
  left: 30px;
  display: inline-block;
  font-size: 20px;
}
.nav-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.nav-bottom .sm-btn {
  margin: 1rem 0;
}
.nav-bottom a {
  color: var(--white);
  padding: 8px 16px;
}
.nav-bottom .sm-btn a span {
  font-size: 12px;
  line-height: 22px;
}
.mobile {
  display: none;
}
.mobile-nav-menu {
  display: none;
}
/* nav logo start for svg image start ------------------------------- */
nav.mobile .logo .nav-logo {
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(39, 53, 64);
  background: -moz-linear-gradient(
    71deg,
    rgba(39, 53, 64, 1) 0%,
    rgba(68, 80, 92, 1) 80%
  );
  background: -webkit-linear-gradient(
    71deg,
    rgba(39, 53, 64, 1) 0%,
    rgba(68, 80, 92, 1) 80%
  );
  background: linear-gradient(
    71deg,
    rgba(39, 53, 64, 1) 0%,
    rgba(68, 80, 92, 1) 80%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#273540",endColorstr="#44505c",GradientType=1);
}
.mobile .logo .nav-logo svg {
  height: 100%;
  width: 100%;
}
.mobile .logo .nav-logo #Layer_1 path,
.mobile .logo .nav-logo #Layer_1 ellipse,
.mobile .logo .nav-logo #Layer_1 circle {
  fill: white !important;
  stroke: none !important;
  stroke-width: 10px !important;
  border: 10px solid red;
}
.mobile .logo .nav-logo #Layer_1 path:nth-child(-n + 4) {
  fill: var(--secondaryColor) !important;
}
.mobile .logo .nav-logo #Layer_1 path.d-shape {
  fill: var(--secondaryColor) !important;
  stroke: none !important;
  border-radius: 50% !important;
  box-shadow: var(--shadow) !important;
}
/* nav logo start for svg image start ------------------------------- */
/* 4. Navigation styles end -------------------------------- */
/* 5.Main content  start ----------------------------------- */
aside {
  width: 80%;
  margin-left: 25%;
  margin-right: 50px;
}
aside section {
  width: 100%;
  padding: 50px;
  background: var(--navcolor);
  margin: 50px 0;
  border-radius: 1rem;
}
/* 5.Main content  end -----------------------------------------*/
/* 6. Banner/Home start -------------------------------------------*/
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner .left .name {
  font-size: 17px;
  margin-bottom: 12px;
  color: var(--bc);
  text-transform: uppercase;
  display: inline-block;
}
.banner .left h3 {
  font-size: 31px;
  font-weight: 700;
  font-family: var(--bff);
  color: var(--white);
  line-height: 1.3;
  letter-spacing: 0;
  text-transform: uppercase;
}
.banner .left h3 span {
  color: var(--secondaryColor);
}
.banner .left .typed-cursor {
  color: var(--white);
  margin-left: -5px;
}
.banner .sm-btn {
  margin-top: 50px;
}
.banner .right {
  width: 50%;
  padding-left: 40px;
  -webkit-perspective: 400px;
  perspective: 400px;
  position: relative; /* for solution*/
}
.banner .image-container {
  transform: rotateY(-10deg);
  max-width: 70%;
  background: url(./../image/banner/samiul2.png) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 10;
}
.image-container img {
  opacity: 0;
  width: 102%;
  height: 50%;
  border: 1px solid var(--secondaryColor);
  z-index: -1;
}
.banner .image-container:before {
  position: absolute;
  content: "";
  top: -15px;
  left: 15px;
  bottom: 15px;
  right: -15px;
  border: 1px solid var(--secondaryColor);
  z-index: -10;
  transition: all 0.3s ease;
  animation: lightingAnimation 2s linear 2s infinite alternate;
}
/* 6.Banner/Home end -------------------------------------------*/
/* 7.Aboute start ----------------------------------------------*/
.about {
  overflow-x: hidden;
}
.sm-bio-graphy {
  width: 100%;
  display: flex;
  align-items: stretch;
}
.sm-bio-graphy .biography {
  width: 50%;
  padding-right: 50px;
}
.sm-bio-graphy .biography .text {
  height: 260px;
  padding: 20px;
  direction: rtl;
  background: var(--navcolor);
  border: 1px solid var(--secondaryColor);
  box-shadow: var(--shadow);
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--secondaryColor) transparent;
}
.sm-bio-graphy .biography .text::-webkit-scrollbar {
  width: 8px;
}
.sm-bio-graphy .biography .text::-webkit-scrollbar-thumb {
  background-color: var(--secondaryColor);
  border-radius: 10px;
}
.sm-bio-graphy .biography .text::-webkit-scrollbar-track {
  background-color: transparent;
}
.sm-bio-graphy .biography .text p {
  direction: ltr;
}
.sm_text_effect .wrapper {
  overflow: hidden;
  position: relative;
}
.sm_text_effect span {
  display: block;
  transition: all 0.3s ease;
}
.sm_text_effect .after {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  transform: translateY(100%);
}
.about .right {
  position: relative;
}
.about .personal_details ul li {
  margin-bottom: 6px;
  list-style: none;
  white-space: nowrap;
}
.about .personal_details ul li span:first-child {
  color: var(--white);
  font-weight: 500;
  display: inline-block;
}
.about .personal_details ul li span:first-child::after {
  content: ":";
  position: absolute;
  color: var(--secondaryColor);
  left: 100px;
}
.about .personal_details ul li span:last-child {
  white-space: nowrap;
  position: absolute;
  left: 115px;
}
.line_effect {
  text-decoration: none;
  color: currentColor;
  display: inline-block;
  position: relative;
}
.line_effect:after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  left: auto;
  right: 0;
  bottom: 3px;
  transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  background: currentColor;
}
.line_effect:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}
/* 7.Aboute end ------------------------------------------------*/
/** 8.Resume start ***********************************************/
.resume > div {
  display: flex;
  border-bottom: 1px solid var(--bordercolor);
  padding: 100px 0;
  overflow-x: hidden;
}
.resume .left {
  padding-right: 50px;
}
.resume .right {
  padding-left: 50px;
}
/* 8.1 Education start ----------------------------------------------- */
.sm-education .list {
  width: 100%;
}
.sm-education .list ul {
  padding: 0;
}
.sm-education .list li {
  width: 100%;
  border-bottom: 1px solid var(--bordercolor);
  padding-bottom: 25px;
  margin-bottom: 25px;
  list-style: none;
  transition: all 0.3s linear;
}
.sm-education .list li:last-child {
  border-bottom: 0;
}
.sm-education .list li .list_inner {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.sm-education .info {
  padding-right: 30px;
}
.sm-education .info h3 {
  font-size: 18px;
  color: var(--white);
  transition: all 0.3s linear;
}
.sm-education .list_inner .year span {
  display: inline-block;
  border: 1px solid var(--bordercolor);
  padding: 5px 20px;
  transition: all 0.3s linear;
}
.sm-education .list li:hover,
.sm-education .list li:hover .year span,
.sm-education .list li:hover .info h3 {
  color: var(--secondaryColor);
  border-color: var(--secondaryColor);
}
/* 8.1 Education end ----------------------------------------------- */
/* 8.2 Skill start  ----------------------------------------------- */
.progress-inner {
  width: 100%;
  margin-bottom: 20px;
}
.progress-inner h4,
.progress-inner .percentCount {
  font-family: var(--bff);
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0px;
  word-wrap: break-word;
  font-weight: 400;
  color: var(--white);
}
/* 8.2 Skill end  ------------------------------------------------- */
/*8.3 Features start -----------------------------------------------*/
.sm-features .left,
.sm-features .right {
  overflow: hidden;
}
.sm-features ul {
  padding: 0;
}
.sm-features .list li {
  list-style: none;
  margin: 6px 0;
}
.sm-features .list li label {
  padding-right: 7px;
  color: var(--secondaryColor);
}
/*8.3 Features end -----------------------------------------------*/
/* 8.4 SVG line Animation start --------------------------------- */
.svg-line-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}
.svg-header-container {
  background: var(--navcolor);
  overflow: hidden;
}
.svg-line-container h2 {
  color: var(--white);
  font-weight: 600;
  text-align: center;
}
.svg-header-container h2 span {
  display: inline-block;
}
.svg-line-container svg {
  width: 100%;
  height: 100%;
}
/* 8.4 SVG line Animation end --------------------------------- */
/* 8.5 Counter  start ----------------------------------------------*/
.sm-counter {
  flex-direction: column;
}
.sm-counter .list ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-items: stretch;
}
.sm-counter .list ul li {
  width: 22%;
  margin-bottom: 30px;
  list-style: none;
}
.sm-counter .list ul li .list_inner {
  width: 100%;
  height: 100%;
  border: 1px solid var(--bordercolor);
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s linear;
}
.sm-counter .list ul li h3 {
  margin-bottom: 2px;
  font-size: 25px;
  color: var(--white);
  transition: all 0.3s linear;
}

.sm-counter .list ul li .list_inner:hover,
.sm-counter .list ul li .list_inner:hover h3 {
  border-color: var(--secondaryColor);
  color: var(--secondaryColor);
}
.sm-counter .list ul li:hover .list_inner {
  box-shadow: var(--secondaryColor) 0px 7px 29px 0px;
}
/* 8.5 Counter end ---------------------------------------------------*/
/*8.6  Testimonials start --------------------------------------------*/
.sm-testimonials {
  flex-direction: column;
  overflow-x: hidden;
  border-bottom: none !important;
}
.slider-container {
  padding: 50px;
}
.sm-testimonial-cards .swiper-slide {
  background: var(--navcolor);
  border: 1px solid var(--bordercolor);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  
}
.sm-testimonial-cards .swiper-slide .list_inner {
  padding: 40px;
  overflow: hidden;
}
.sm-testimonial-cards .swiper-slide .text {
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: var(--bc);
  height: 250px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--secondaryColor) transparent;
}

/* scroll start */
.sm-testimonial-cards .swiper-slide .text::-webkit-scrollbar {
  width: 8px;
}
.sm-testimonial-cards .swiper-slide .text::-webkit-scrollbar-thumb {
  background-color: var(--secondaryColor);
  border-radius: 10px;
}
.sm-testimonial-cards .swiper-slide .text::-webkit-scrollbar-track {
  background-color: transparent;
}
/* scroll end */

.sm-testimonial-cards .swiper-slide .details {
  display: flex;
  gap: 1rem;
  margin-top: 20px;
  border-top: 1px solid var(--bordercolor);
  padding: 20px 0;
}
.sm-testimonial-cards .swiper-slide .details img {
  height: 100px;
  width: 100px;
  clip-path: circle(50% at 50% 50%);
}
.sm-testimonial-cards .swiper-slide .details .info h3 {
  font-size: clamp(16px, 3vw, 20px);
  font-weight: 600;
  color: var(--white);
}
.sm-testimonial-cards .swiper-slide .details .info span {
  font-size: 14px;
  color: var(--bc);
}
.sm-testimonials .container {
  position: relative;
  height: 550px;
}
.sm-testimonials .swiper {
  position: absolute;
  width: 100%;
  padding-bottom: 100px;
}
.sm-testimonials .swiper-autoheight .swiper-wrapper {
  align-items: stretch;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--white);
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.3s;
}
.swiper-pagination-bullet-active {
  background-color: var(--secondaryColor);
  transform: scale(1.2);
  opacity: 1;
}
/*8.6 Testimonials end --------------------------------------------*/
/*8.7 resume-download btn start -----------------------------------*/
.resume-down-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0px !important;
  border-bottom: hidden !important;
}
.resume-down-btn .sm-btn {
  margin: 0;
}
/*8.7 resume-download btn end -----------------------------------*/
/** 8.Resume start ***********************************************/
/* 9.Services start -------------------------------------------- */
.service {
  width: 100%;
  padding: 50px;
  overflow: hidden;
}
.service .services-list {
  width: 100%;
  margin-top: 60px;
}
.service .services-list ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-items: stretch;
}
.service .services-list ul li {
  width: 30%;
  margin-bottom: 40px;
  list-style: none;
  border-radius: 5px;
  transition: all 0.3s linear;
}
.service .services-list .list_inner {
  width: 100%;
  height: 100%;
  padding: 45px 50px 42px 50px;
  border: 1px solid var(--bordercolor);
  transition: all 0.3s linear;
  border-radius: 5px;
  position: relative;
}
.service .services-list .list_inner i {
  font-size: 50px;
  color: var(--bc);
  margin-bottom: 18px;
  transition: all 0.3s linear;
}
.service .services-list .list_inner .title {
  font-size: 18px;
  color: var(--white);
  transition: all 0.3s linear;
}
.service .services-list .list_inner .descrip {
  width: 100%;
  border-top: 1px solid var(--bordercolor);
  margin-top: 29px;
  padding-top: 25px;
  transition: all 0.3s linear;
}
.service .services-list li:hover .list_inner,
.service .services-list li:hover .list_inner .descrip {
  border-color: var(--secondaryColor);
  cursor: pointer;
}
.service .services-list li:hover {
  box-shadow: var(--shadow);
}

.service .services-list li:hover i {
  color: var(--secondaryColor);
  transform: rotate(15deg);
}
/* 9.Services end -------------------------------------------- */
/* 10.Portfolio  start ---------------------------------------- */
.protfolio {
  padding-bottom: 100px;
  overflow: hidden;
}
.portfolio-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.portfolio_filter li {
  display: inline-block;
  position: relative;
  margin-left: 12px;
}
.portfolio_filter li:first-child {
  margin-left: 0px;
}
.portfolio_filter li::after {
  position: relative;
  content: "/";
  margin-left: 15px;
}
.portfolio_filter li:last-child::after {
  display: none;
}
.portfolio_filter ul {
  background: var(--navcolor);
  overflow: hidden;
}
.portfolio_filter ul li {
  display: inline-block;
  position: relative;
  margin-left: 12px;
  cursor: pointer;
}
.portfolio_filter ul li {
  color: var(--bc);
  display: inline-block;
  transition: all 0.3s ease;
}
.portfolio_filter ul li:hover,
.portfolio_filter ul li .current {
  color: var(--white);
}
.portfolio_filter ul li.active {
  color: var(--secondaryColor);
}
.portfolio-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--navcolor);
  border-radius: 1rem;
}
.portfolio-list ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border-radius: 1rem;
  animation: lightingAnimation 2s linear 2s infinite alternate;
}
.portfolio-list ul li {
  padding: 1rem;
  border: 1px solid var(--bordercolor);
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.5s linear;
  position: relative;
  margin: 1rem;
}
.portfolio-list ul li img {
  overflow: hidden;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}
.big-img {
  width: 60%;
}
.small-img {
  width: 30%;
}
.horizon-img {
  width: 30%;
}
.portfolio-list ul li:hover {
  border-color: var(--secondaryColor);
  box-shadow: var(--shadow);
}
.portfolio-list ul li::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  background: linear-gradient(
    180deg,
    rgba(254, 254, 254, 0.1) 0%,
    rgba(71, 71, 71, 0.1) 68%,
    rgba(1, 1, 1, 0.8) 100%
  );
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  filter: opacity(0.7);
  margin: 1rem 1rem 1.6rem;
  border-radius: 1rem;
  opacity: 0;
  transition: all 0.5s linear;
}
.portfolio-list ul li a .info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: clamp(16px, 2vw, 1.8rem);
  line-height: clamp(26px, 2vw, 1.8rem);
  font-weight: 700;
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  z-index: 10;
  transition: all 0.5s linear;
  opacity: 0;
}
.portfolio-list ul li a .info span:last-child {
  color: var(--black);
  -webkit-text-stroke: 2px var(--secondaryColor);
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}
.portfolio-list ul li.big-img a .info {
  font-size: clamp(2rem, 2vw, 3rem);
  line-height: 50px;
}
.portfolio-list ul li:hover::after,
.portfolio-list ul li:hover .info {
  opacity: 1;
}
/* 10.Portfolio  end ---------------------------------------- */
/* 11. Contact start ---------------------------------------- */
.contact-body {
  background: var(--navcolor);
  padding: 0 20px;
  border-radius: 1rem;
  overflow: hidden;
}
.contact-top h2 {
  font-size: 50px;
  font-weight: 100;
  text-transform: capitalize;
  color: var(--white);
  overflow: hidden;
  display: inline-block;
}
.contact-top .sm-me {
  color: var(--secondaryColor);
  font-weight: 400;
}
.contact-top p {
  width: 70%;
  overflow: hidden;
  background: var(--navcolor);
  line-height: 1.5;
}
.contact-top p span {
  background: var(--navcolor);
  line-height: 1.5;
  display: inline-block;
}
.contact-mid-part {
  padding: 50px 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-info {
  width: 40%;
}
.contact-info ul {
  list-style: none;
}
.contact-info ul li {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}
.contact-info ul li i {
  color: var(--secondaryColor);
  font-size: 30px;
}
.contact-info ul li h3 {
  font-size: 24px;
  line-height: 24px;
  color: var(--white);
}
.contact-form {
  width: 60%;
}
.contact-form form * {
  transition: all 0.3s linear;
}
.contact-form form input {
  width: 100%;
  height: 50px;
  display: block;
  margin: 1rem 0;
  background: transparent;
  outline: none;
  border: 1px solid var(--bordercolor);
  border-radius: 5px;
  padding: 1rem;
  color: var(--white);
  font-size: 16px;
}
.contact-form form textarea {
  width: 100%;
  height: 135px;
  background: transparent;
  outline: none;
  border: 1px solid var(--bordercolor);
  border-radius: 5px;
  padding: 1rem;
  color: var(--white);
  font-size: 16px;
  margin-bottom: 1rem;
}
.contact-form form button {
  display: inline-flex;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  padding: 12px 32px;
  background: var(--secondaryColor);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}
.contact-form form button:hover {
  background: transparent;
  border: 1px solid var(--secondaryColor);
  box-shadow: var(--shadow);
}
.contact-form form input:focus,
.contact-form form textarea:focus {
  border-color: var(--secondaryColor);
  box-shadow: var(--shadow);
}
.contact .social-icon {
  margin-bottom: 1rem;
  text-align: start;
  display: flex;
  gap: 0.5rem;
  list-style: none;
}
.contact .social-icon li a {
  line-height: 0px;
}
.contact .social-icon li a i {
  font-size: 25px;
  color: var(--white);
}
.contact .social-icon a :hover {
  color: var(--secondaryColor);
  box-shadow: var(--shadow);
}
.contact-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--navcolor);
  border: 1px solid var(--secondaryColor);
  padding: 1rem;
  border-radius: 10px;
  animation: lightingAnimation 2s linear 2s infinite alternate;
}
.contact-footer iframe {
  height: 400px;
  width: 100%;
  border: none;
  border-radius: 10px;
}

.contact-mid-part ul li a {
  color: var(--bc);
}

/*11. Contact end -----------------------------------------------------*/
/*12. Footer start -----------------------------------------------------*/
footer {
  padding: 0px 50px 50px;
}
footer .copy-right {
  color: #777;
  text-align: center;
}
/*12.Footer end ---------------------------------------------------------*/
/*! 13.EXTARNAL PART START  --------------------------------------------------- */
/* 13.1 setting start ----------------------- */
.setting-pannel {
  position: fixed;
  z-index: 200;
  right: 0;
  top: 20%;
  background: var(--navcolor);
  border: 1px solid var(--bordercolor);
  border-radius: 0px 10px 10px 0px;
  font-size: 18px;
  color: var(--white);
  display: flex;
  flex-direction: column;
}
.setting-pannel.active {
  box-shadow: var(--shadow);
  padding: 10px;
}
.setting-pannel.active h5 {
  display: flex;
}
.setting-pannel h5 {
  text-transform: capitalize;
  color: var(--white);
  font-size: 18px;
  display: none;
}
.setting-pannel .setting.active {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0);
  background: var(--secondaryColor);
}
.setting-pannel .setting:hover {
  background: var(--bc);
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  transition: hover 0.3s linear;
}
.setting-pannel .setting span {
  padding: 2px 8px;
  font-size: 24px;
}
/* 13.1 setting end ----------------------- */
/* 13.2 theme-panel start ------------------ */
.setting-pannel .theme-pannel {
  display: none;
  flex-direction: column;
  border-radius: 0px 10px 10px 0;
  transition: al 0.3s linear;
}
.setting-pannel .theme-pannel.active {
  display: flex;
  transition: all 0.3s linear;
}
.setting-pannel .theme-mode {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.setting-pannel .theme-mode li {
  list-style: none;
  padding: 2px 16px;
  border-radius: 5px;
  background: var(--black);
}
.setting-pannel .theme-mode li:hover {
  background: var(--bc);
  cursor: pointer;
  transition: all 0.3s linear;
}
.setting-pannel .theme-pannel .theme-mode li.active {
  background: var(--secondaryColor);
}
/* 13.2 Theme-panel end ------------------ */
/* 13.3 Audio start ---------------------- */
.audio-container {
  margin: 0 auto;
}
.audio-container svg {
  height: 30px;
  width: 30px;
}
.setting-pannel.active .audio-container {
  margin: unset;
}
.audio-container button {
  border: 0;
  border-radius: 5px;
  background: var(--navcolor);
  padding: 2px;
}
.audio-container button:hover svg circle {
  opacity: 1;
}
/* 13.3 Audio end ---------------------- */
/*13.4 Setting social icon start --------*/
.setting-pannel .social-icon {
  margin: 0 auto;
  position: relative;
}
.setting-pannel.active .social-icon {
  margin: unset;
}
.setting-pannel .social-icon button {
  height: 30px;
  width: 30px;
  background: var(--navcolor);
  border: 1px solid var(--bordercolor);
  border-radius: 50%;
  text-align: center;
  color: var(--white);
  margin: 0px 0 10px;
  transition: all 0.3s linear;
}
.setting-pannel .social-icon button.active {
  background: var(--secondaryColor);
}
.setting-pannel .social-icon .social-media {
  list-style: none;
  background: var(--navcolor);
  padding: 8px 32px;
  border: 1px solid var(--bordercolor);
  border-radius: 25px;
  position: absolute;
  right: 110%;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  gap: 10px;
  transition: all 0.3s linear;
}
.setting-pannel .social-icon .social-media.active {
  display: flex;
}
.setting-pannel .social-icon a i {
  color: var(--white);
  font-size: 18px;
  line-height: 28px;
  transition: all 0.3s linear;
}
.setting-pannel .social-icon a i:hover {
  color: var(--secondaryColor);
}
/*13.4 Setting social icon end --------*/
/*13.5 Cursor start --------------------*/
.cursor {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--white);
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  z-index: 10000;
}
.cursor-small {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--white);
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1000;
}
/*13.5 Cursor end --------------------*/
/*13.6 Page scroll loader start ------ */
.circle-container {
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  z-index: 100;
}
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(254, 254, 254, 0.1) 0%,
    rgba(71, 71, 71, 0.1) 68%,
    rgba(1, 1, 1, 0.8) 100%
  );
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: black;
  box-shadow: var(--shadow);
  transition: all 0.3s linear;
  background: white;
}
.out-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px dotted var(--secondaryColor);
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 12px;
  padding: 28px;
  z-index: 99;
  transition: all 0.3s linear;
}
.percentage {
  font-size: 12px;
  font-weight: bold;
  color: black;
}
.circle-container .arrow {
  font-size: 18px;
}
/*13.6 Page scroll loader end ------ */
/*13.7 Bg line animation start ----- */
.line-parent {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.line-parent .line {
  height: 100vh;
  border: 0.1px dashed rgb(10, 8, 8);
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -999;
}
.line-parent .line .line-box {
  width: 10px;
  height: 10px;
  background: var(--secondaryColor);
  position: absolute;
  left: 0;
  transform: translateX(-50%) rotate(45deg);
}
.line-parent .line-1 {
  left: 15%;
}
.line-parent .line-2 .line-box,
.line-parent .line-4 .line-box {
  bottom: -10%;
}
.line-parent .line-1 .line-box,
.line-parent .line-3 .line-box {
  top: -10%;
}
.line-parent .line-2 {
  left: 35%;
}
.line-parent .line-3 {
  right: 35%;
}
.line-parent .line-4 {
  right: 15%;
}
/*13.7 Bg  line animation end -------------*/
/* 13.8 page-preloader start -------------- */
.page-preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  color: var(--white);
  gap: 10px;
}
.page-preloader .loader-content span {
  font-size: 2vw;
  display: inline-block;
  margin: 0 5px;
}
.page-preloader svg {
  height: 30px;
  width: 30px;
  display: block;
}
/* 13.8 page-preloader end -------------- */
/* 13.9 color panel start --------------- */
.setting-pannel .theme-pannel.active {
  background: var(--black);
  padding: 15px;
  border-radius: 5px;
  margin: 10px 0;
}
.setting-pannel .color-panel {
  margin: 0 auto;
  position: relative;
  display: none;
  flex-direction: column;
  border-radius: 10px;
}
.setting-pannel.active .color-panel {
  margin: unset;
  display: flex;
}
.setting-pannel .color-panel button {
  height: 30px;
  width: 30px;
  background: var(--navcolor);
  border: 1px solid var(--bordercolor);
  border-radius: 50%;
  text-align: center;
  color: var(--white);
  margin: 0px 0 10px;
  transition: all 0.3s linear;
}
.setting-pannel .color-panel button.active {
  background: var(--secondaryColor);
}
.setting-pannel .color-panel .color-options {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background-color: var(--navcolor);
  border: 2px solid var(--bordercolor);
  font-size: 16px;
  color: var(--white);
  text-transform: capitalize;
  position: absolute;
  right: 110%;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  transition: all 0.3s linear;
}
.setting-pannel .color-panel .color-options.active {
  display: flex;
}
.setting-pannel .color-panel .color-options .color-option {
  padding: 5px;
  margin: 5px;
}
/* General Styling for Color Panel */
/* 13.9 color panel end --------------- */
/*!13. EXTARNAL PART END ------------------------------------------------------- */
